@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i");
body {
  background-color: olive;
  /* background-position: right top; */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:white;
  margin: 0;
  padding: 0; }

  .groupby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 80px; }
    .groupby form input {
      padding: 10px 50px;
      border: none;
      border-radius: 2px;
      margin-right:5px;
      outline: none;
      background: #e8e8e8;
      padding-left: 10px;
      -webkit-box-shadow: 1px 1px 2px #333;
              box-shadow: 1px 1px 2px #333; }
    .groupby form button {
      padding: 10px 18px;
      border-radius: 2px;
      margin-left: 4px;
      border: none;
      background: #EC4E20;
      color: #FFF;
      -webkit-box-shadow: 1px 1px 4px #333;
              box-shadow: 1px 1px 4px #333; }
    

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;

  letter-spacing: .2px;
  font-size: 1em;
  font-weight: bold;
  color:white }
  .header img {
    margin-left: 10px; }

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px; }
  .instructions p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
/* .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px; }
  .tags p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight:bold;
    color: black; }
  .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px; }
  .field p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    color: black; } */
.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5px; }
  .time p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
.relativetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5px; }
  .relativetime p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
    .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5px; }
  .duration p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
     .aggregate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5px; }
  .aggregate p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
     .groupbytime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5px; }
  .groupbytime p {
    width: 25%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:white; }
.zipcodeInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px; }
  .zipcodeInput form input {
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    margin-right:5px;
    outline: none;
    background: #e8e8e8;
    padding-left: 10px;
    /* vertical-align: -30px; */
    -webkit-box-shadow: 1px 1px 2px #333;
            box-shadow: 1px 1px 2px #333; }
  .zipcodeInput form button {
    padding: 10px 18px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #EC4E20;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }

.homeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px; }
  .homeBtn button {
    padding: 10px 22px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #a8a8a8;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }



.loading {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .loading .loadingIcon {
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-animation: rotateLoading 1.5s ease-in-out infinite;
            animation: rotateLoading 1.5s ease-in-out infinite; }
@-webkit-keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.error {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .error p {
    margin-top: 20px; }
  .error button {
    padding: 10px 22px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #a8a8a8;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333;
    margin-top: 30px;
    cursor: pointer; }

    .ib {
      display: inline-block;
      color:white;
      font-size: 100%;
      vertical-align: top;

    }